---
- name: Check Ubuntu version
  fail:
    msg: '{{ ansible_distribution_version }} is not an acceptable version of Ubuntu for this role'
  when: ansible_distribution_version is version_compare(15.04, '<')

- name: Ensure depdencies are installed
  apt:
    name: ['apt-transport-https', 'ca-certificates', 'software-properties-common', 'python3-dev', 'python3-pip', 'gpg-agent']
    update_cache: true
    cache_valid_time: 86400
    state: present

- name: Add Docker apt key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    id: 9DC858229FC7DD38854AE2D88D81803C0EBFCD88
    state: present

- name: Add docker repository
  apt_repository:
    repo: '{{ docker_apt_repository }}'
    state: present
    update_cache: true

- name: Install Docker
  apt:
    name: '{{ docker_package }}'
    state: '{{ docker_package_state }}'

- name: Install docker-py
  pip:
    name: docker-py
    state: present

- name: Ensure /etc/docker directory exists
  file:
    dest: /etc/docker
    mode: "0700"
    state: directory

- name: Create /etc/docker/daemon.json
  copy:
    content: |
      {{ docker_daemon_json_entries | to_nice_json }}
    dest: /etc/docker/daemon.json
  notify: restart docker

- name: Start docker
  command: service docker start

- name: docker status
  command: service docker status
  register: __output

- debug: var=__output

- meta: flush_handlers

- name: Ensure Docker is started and enabled at boot
  service:
    name: docker
    state: started
    enabled: true
