---
- name: Check Ubuntu version
  fail:
    msg: '{{ ansible_distribution_version }} is not an acceptable version of Ubuntu for this role'
  when: ansible_distribution_version|version_compare(15.04, '<')

- name: Ensure old versions of Docker are not installed
  package:
    name: '{{ item }}'
    state: absent
  with_items:
    - docker
    - docker-engine

- name: Ensure depdencies are installed
  apt:
    name: '{{ item }}'
    state: present
  with_items:
    - apt-transport-https
    - ca-certificates
    - software-properties-common
    - python-dev
    - python-pip

- name: Add Docker apt key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    id: 9DC858229FC7DD38854AE2D88D81803C0EBFCD88
    state: present

- name: Add docker repository
  apt_repository:
    repo: '{{ docker_apt_repository }}'
    state: present
    update_cache: yes

- name: Install Docker
  apt:
    name: '{{docker_package}}'
    state: '{{docker_package_state}}'

- name: Install docker-py
  pip:
    name: docker-py
    state: present

- name: Ensure Docker is started and enabled at boot
  service:
    name: docker
    state: started
    enabled: yes
